<%= stylesheet_link_tag "about.css" %>
<div id="big_logo">
	<h1>Batefy</h1>
</div>
<div id="content">
<div class="big_section">
	<div class="big_section_header">COME FUNZIONA?</div>
	<p class="section_info">
		Batefy è un sito internet, presto anche app per mobile, che offre un’interfaccia tra Attività Commerciali e Consumatori, con sconti che possono variare dal 10% all’ 80%. Grazie alla funzione di geolocalizzazione, è possibile cercare sconti sulle attività o sui prodotti che si preferiscono in una specifica area geografica o zona della città. Gli sconti sono rigorosamente: 
	</p>
</div>
<div class="section">
	<div class="section_header">FLASH</div>
	<p class="section_info">
		Le offerte sono visibili a partire da un tempo massimo di 24h dall'inizio della loro validità.</p>
</div>
<div class="section">
	<div class="section_header">ALLA CARTA</div>
	<p class="section_info">
		Lo sconto è valido su tutti i prodotti scelti oppure consumati dal cliente. </p>
</div>
<div class="section">
	<div class="section_header">ALLA CASSA </div>
	<p class="section_info">
		Batify non prevede alcuna transazione economica da parte dei consumatori né provvigioni sui prodotti: il cliente paga direttamente alla cassa e solo alla cassa ha l’obbligo di dichiarare di possedere lo sconto. Questo garantisce che l’erogazione del servizio non sia in alcun modo alterata dalla presenza dello sconto. </p>
</div>
<div class="big_section">
	<div class="big_section_header">CONSUMATORI</div>
</div>
<div class="section">
	<p class="section_info">
		Sono le 8 di sera e ti viene voglia di sushi? Apri BATEFY, cerca il sushi più vicino o con lo sconto migliore, iscriviti all’offerta e goditi la cena…! Una volta alla cassa mostra il coupon che hai scaricato oppure semplicemente lo screenshot dell’offerta ed ottieni lo sconto.   
	</p>
</div>
<div class="section">
	<p class="section_info">
		L’adesione all’offerta prevede semplicemente l’iscrizione all’offerta e l’eventuale download del coupon (non obbligatorio). Il coupon non è legato da alcun codice ma semplicemente dà diritto allo sconto, se mostrato.    
	</p>
</div>
<div class="section">
	<p class="section_info">
		<b>PRENOTAZIONE:</b> l’adesione all’offerta non presenta alcun vincolo all’utilizzo, inoltre non costituisce né sostituisce la prenotazione nel caso di Attività Commerciali che tipicamente la richiedano (es. ristoranti, centri benessere).  
	</p>
</div>
<div class="section">
	<p class="section_info">
		<b>NOTA BENE:</b> per poter usufruire dell’offerta, il cliente che voglia prenotare deve farlo personalmente, senza l’utilizzo di strumenti come siti ed app come intermediari per l’effettuazione della prenotazione. 
	</p>
</div>
</div>

</div>


</div>