<%= stylesheet_link_tag "about.css" %>
<div id="big_logo">
	<h1>About Batefy</h1>
</div>
<div class="section">
	<div class="section_header">How does it work?</div>
</div>
<div class="section">
	<div class="section_header">Great for business!</div>
</div>
<div class="section">
	<div class="section_header">Great for users!</div>
</div>