<div style="margin: 40px; padding: 20px; background-color:#FFF; line-height: 1.25;">
<h1 style="text-align:center;">TERMINI E CONDIZIONI D’USO</h1>

<h2>1. Benvenuto su BATEFY </h2> 

<p>Nel presente documento, si definisce con il termine “Utente” qualsiasi persona la quale navighi sul sito <a href="http://www.batefy.com">www.batefy.com</a> o utilizzi la “app” BATEFY. </p>

<p>1.1 Il presente documento definisce le Condizioni Generali di Contratto (d’ora in avanti anche “Contratto”) per l’utilizzo del sito internet <a href="http://www.batefy.com">www.batefy.com</a>  e della “app” da parte dell’utente-Consumatore (d’ora in avanti “Consumatore/i”) ed utente-Business (d’ora in avanti, anche “Attività Commerciale/i” ovvero “Commerciante/i”). D’ora in avanti si intenderà con il termine “Cliente/i” ed “Utente/i” entrambi i tipi di utenti (utente-consumatore ed utente-business). Nel caso di Condizioni riguardanti solo una delle due parti, si specificherà il tipo di Utente.</p>

</p>Noi siamo un gruppo di privati proprietari, sviluppatori e gestori  di questo Sito ed in questo documento faremo riferimento a noi stessi con la dicitura “Batefy” ovvero con la dicitura “Noi”; con la stessa dicitura si intenderanno tutte le parti e funzioni tecnologiche caratterizzanti il Servizio da noi erogato. 
La consultazione e l’utilizzo dei servizi di BATEFY è soggetta al presente Contratto. L’Utente è tenuto a leggere tale documento prima di accedere ed usufruire del Servizio. L’accesso al Servizio e la consultazione degli annunci costituisce espressa accettazione del Contratto stesso. 
Nel caso il Cliente non volesse accettare le suddette condizioni, non è autorizzato all’utilizzo del sito internet e della app ed è invitato ad abbandonare immediatamente la navigazione.</p>

<p>1.2 Scopo del servizio: BATEFY potrà essere utilizzata dal Consumatore solo ed esclusivamente per scopi personali e non commerciali. Il Consumatore si impegna a fare un uso personale e non commerciale dell’App, del suo contenuto e delle informazioni in essa contenute. 
Il Commerciante potrà utilizzare BATEFY come uno strumento di pubblicitá e promozione della propria attività commerciale, nei limiti delle Condizioni di Utilizzo di cui in questo Contratto, e in ogni caso senza che l’utilizzo che ne fa possa ledere in alcun modo BATEFY.</p>

<p>1.3 Maggiore età: tramite l’accettazione delle Condizioni di Utilizzo, tutti gli utenti dichiarano di essere una persona maggiore d’età ed in possesso della capacità di agire.</p>

<p>1.4 Abbreviazioni: in questo Contratto vengono utilizzate  diverse definizioni riconoscibili perché indicate con lettera maiuscola.</p>

<p>1.5 Modifiche del Contratto: BATEFY potrà apportare unilateralmente in qualsiasi momento modifiche alle presenti Condizioni Generali tramite avvisi pubblicati nel sito internet <a href="http://www.batefy.com">www.batefy.com</a> . In questo caso BATEFY si impegnerà nel voler evidenziare all’Utente ogni modifica con messaggi sullo schermo di avvio del Servizio, in modo tale che siano percepibili all’Utente prima di accedere all’utilizzo del Servizio. Il successivo utilizzo del Servizio da parte dell’Utente costituirà accettazione da parte dello stesso delle Contratto nella sua versione modificata o aggiornata.</p>

<p>1.6 Le presenti condizioni d’uso possono essere consultate in qualsiasi momento all’indirizzo:

<a href="http://www.batefy.com">www.batefy.com</a>/…./</p>



<h2>2. BATEFY</h2>

<p>2.1 BATEFY permette la visualizzazione e la pubblicazione di sconti attinenti i prodotti offerti dalle Attività Commerciali aderenti, le quali in modo autonomo ne programmano l’entità e la durata, nei limiti delle opzioni offerte. BATEFY non entra nel processo di accettazione, conclusione ed esecuzione del contratto fra Consumatore e Commerciante: l’eventuale conclusione dell’erogazione del servizio rimane sempre e solo fra queste due parti; da ciò deriva che le condizioni ed i termini di riferimento per l’eventuale erogazione del prodotto sono quelli previsti dal Commerciante. BATEFY fornisce esclusivamente la piattaforma tecnologica che permetta il contatto tra le due parti.</p>  
<p>Ciò comporta che nel corso dell’utilizzo del nostro servizio, in aggiunta a questo Contratto, l’Utente sia vincolato da altri rapporti di natura contrattuale con soggetti giuridici diversi, principalmente rappresentati dalle Attività Commerciali o Utenti-Business. </p>

<p>
2.2 L’uso del Servizio è assunto dall’Utente sotto la sua completa responsabilità, BATEFY non offre alcuna garanzia riguardante la precisione e l’affidabilità delle informazioni contenute nel Servizio, né offre alcuna garanzia circa i risultati ottenuti tramite esso. L'Utente si assume ogni responsabilità per eventuali danni che possano derivare al suo sistema informatico dall'uso del Servizio.</p>
<p>Il diritto di utilizzo del Servizio è strettamente personale e va esercitato nei termini di cui alle Condizioni Generali. L’Utente riconosce che l’intero contenuto del Servizio - comprensivo di, ma non limitato a testo, software, suono, fotografie, video, grafica o altro - è protetto dai rispettivi diritti d’autore, dai marchi del servizio, da brevetti o da altri diritti proprietari e da specifiche disposizioni di legge. L’Utente ha solo il diritto d’uso di quanto contenuto nel Servizio secondo quanto espressamente autorizzato dal Servizio stesso. L’Utente non può in alcun modo diffondere o riprodurre quanto contenuto nel Servizio o farne un uso diverso da quanto autorizzato nel Contratto, salvo quanto esplicitamente autorizzato da BATEFY stesso. L’Utente acconsente a non disassemblare o eseguire qualsiasi processo di studio del software del Servizio per alcun motivo, o permettere ad alcuna terza parte di farlo.</p>

<p>2.3 Per l’utilizzo dei Servizi offerti da Batefy valgono esclusivamente le seguenti condizioni d’uso, le quali si considerano accettate se l’Utente naviga sul sito web o utilizza la app o usufruisce in qualsiasi altro modo il servizio offerto da BATEFY. 
BATEFY, inoltre, invia all’Utente newsletter, notifiche “push” e altre comunicazioni. L’Utente è pregato di consultare la nostra Privacy Policy per informarsi sulla raccolta e sul trattamento dei dati personali da parte di BATEFY.</p>

<p>2.4 Ambito d'utilizzo: Il nostro Sito e i nostri Servizi vengono forniti agli utenti-Consumatori ad uso esclusivamente personale e non commerciale. È possibile accedere al Sito solo attraverso la nostra app, tramite browser web e le applicazioni analoghe. Non è quindi consentito l’accesso tramite robot, spider, lettori offline, applicazioni di ricerca e recupero di informazioni dai siti o altri dispositivi, strumenti o processi volti ad estrapolare dati dal nostro Sito o app, anche tramite tecniche come lo scraping e lo spidering. In via di eccezione, modalità revocabile in qualsiasi momento da Batefy gli operatori dei motori di ricerca pubblici possono usare spider per copiare materiali dal Sito al solo scopo, ed esclusivamente nella misura necessaria per la creazione di indici di ricerca dei materiali pubblicamente disponibili, ma non per copie cache o archivi di tali materiali.</p>

<p>2.5  Divieto d'uso: BATEFY si riserva il diritto di impedire l'utilizzo del Sito e dei Servizi (o di parte di essi).</p>

<p>2.6 Sospensione del servizio: BATEFY si riserva il diritto di modificare, sospendere o interrompere il Servizio nonché qualsiasi parte di esso, senza alcun obbligo di avvertire preventivamente l’Utente. In tal caso, BATEFY non è in alcun modo responsabile verso gli Utenti o verso terzi per eventuali danni derivanti dalla sospensione o interruzione del Servizio.</p>  

<p>2.7 La ricerca delle informazioni e la visualizzazione degli Sconti è effettuata tramite una procedura automatica, senza che BATEFY possa in alcun modo verificarne il contenuto, l’accuratezza, la veridicità: conseguentemente BATEFY declina ogni responsabilità derivante dalla visualizzazione di tali informazioni.</p>
<p>La procedura di ricerca automatica delle offerte potrebbe, inoltre, nonostante gli espressi divieti previsti per i Commercianti nel contratto, portare alla consultazione d’informazioni dal contenuto non gradito o adatto ad un pubblico adulto. In tal caso, BATEFY declina ogni responsabilità. 
L’Utente potrà comunque segnalare eventuali informazioni che non siano conformi alla legislazione attuale o che non rispettino le regole previste da queste Condizioni Generali inviando una segnalazione all’indirizzo segnalazioni@batefy.com. </p>


<h2>3. REGISTRAZIONE A BATEFY</h2>

<p>3.1 L’Utente è tenuto ad effettuare la registrazione a Batefy per poter aderire alle offerte. Questo comporta l’inserimento di una serie di dati riguardanti l’Utente, quali l’indirizzo e-mail, il luogo ed altre informazioni che possono essere richieste. 
I campi contrassegnati con asterisco sono obbligatori: l’omessa compilazione degli stessi non permette il completamento dell’iscrizione.</p>

<p>3.2 Veridicità delle informazioni: l’Utente si impegna a fornire informazioni che corrispondono pienamente alla realtà e di cui possiede il diritto di utilizzo e divulgazione. E’ quindi responsabile della diffusione di ogni informazione non veritiera o di cui non possiede il diritto di divulgazione.</p>  

<p>3.3 Password ed indirizzo email: per la registrazione e quindi per la creazione di un Account è richiesta l’inserimento di un indirizzo mail personale valido e di una password personale da parte dell’utente. Nel caso di utente-Business sono richieste anche informazioni aggiuntive. 
La responsabilità di preservare la riservatezza della password è interamente a carico dell’Utente. 
L’Utente si assume la piena responsabilità per la riservatezza di queste informazioni a titolo di protezione dell’accesso al proprio account; è inoltre responsabile per ogni attività che avvenga tramite accesso al proprio account sia in modo autorizzato che non autorizzato dall’Utente stesso.  
Nel caso di smarrimento della password o dell’username, oppure nel caso che terzi facciano uso (autorizzato o non) dell’indirizzo e-mail dell’Utente, oppure nel caso in cui avvenga una qualsiasi violazione delle norme di sicurezza relative ai dati dell’Utente, questo è tenuto all’immediata segnalazione a BATEFY e all’immediato avvio del processo di recupero delle informazioni personali.</p> 

<p>3.4 BATEFY può inviare all’Utente e-mail a contenuto amministrativo e promozionale, ogni tipo di informazione relativa l’attività di adesione agli Sconti. L’Utente può scegliere in qualsiasi momento di non ricevere le nostre e-mail promozionali tramite il link di cancellazione contenuto nelle e-mail promozionali.</p>    

<p>3.5 BATEFY si riserva il diritto di respingere una nuova Registrazione o di cancellare un Account in qualsiasi momento.</p> 
     
<h2>4. ADESIONE ALLE OFFERTE</h2> 

<p>4.1 Sconti: il principale Servizio offerto da BATEFY è lo Sconto/i (d’ora in avanti, anche “Offerta/e). L’adesione alle Offerte comporta l’instaurarsi di un rapporto contrattuale tra utente-Consumatore ed utente-Commerciante. BATEFY non entra nel processo di accettazione, conclusione ed esecuzione del contratto fra Consumatore e Commerciante: l’eventuale conclusione dell’erogazione del servizio rimane sempre e solo fra queste due parti.
Gli Sconti vengono applicati dal Commerciante al momento del pagamento dei servizi ricevuti e/o acquistati dal Consumatore. 
L’entità dello sconto è sempre espressa in percentuale, per cui la percentuale (%) indicata la quota del debito estinto a titolo gratuito.</p> 

<p>4.2 Oggetto dello Sconto: la caratteristica “alla carta” dello sconto prevede che lo sconto non escluda alcun tipo di servizio e/o prodotto erogato e/o offerto dall’Attività Commerciale.</p> 

<p>4.3 Oggetto temporale dello Sconto: gli sconti sono vincolati a giorni ed orari di validità, decisi dal Commerciante e resi visibili su BATEFY. La validità dello sconto è da ritenersi valida solamente se rispetta i termini di giorno ed orario indicati dall’Attività Commerciale per cui visibili sull’Offerta stessa. BATEFY si dichiara non responsabile nel caso di non corrispondenza tra sconto visualizzato sull’Offerta e disponibilità effettiva del Commerciante, che questo sia dovuto o a errore da parte del Commerciante o ad un malfunzionamento del Software e del Servizio BATEFY.</p>

<p>4.3.1 Giorno: il giorno di validità dell’offerta è uno ed unico, corrispondente all’indicazione di giorno della settimana, numero, mese, anno.</p> 

<p>4.3.2 Orario di inizio: ogni Offerta si caratterizza per un orario di inizio ed un orario di fine. 
L’orario di inizio dell’offerta indica l’orario di inizio del periodo temporale nel quale il Consumatore potrà usufruire dei prodotti e/o servizi venduti/erogati dal Commerciante e per i quali successivamente pagherà. Vanno differenziati in questo caso due tipi di prodotti: prodotti ad utilizzo e servizio immediato (piatti di ristoranti, taglio di capelli, ecc..) e prodotti ad utilizzo successivo (capi di abbigliamento, qualsiasi prodotto appartenente alla grande categoria dello shopping).  Nel caso di prodotti di utilizzo non immediato, sta al buon senso e deliberata scelta del Commerciante considerare il tempo di visione e scelta del prodotto da parte del Consumatore come esterno ai termini temporali di cui il Contratto che viene ad instaurarsi tra le due parti (Consumatore e Commerciante).</p>    

<p>4.3.3 Orario di fine: l’orario di fine dell’Offerta indica la fine del periodo nel quale il Consumatore potrà effettuare il pagamento al quale viene applicato lo sconto. Nel caso di servizi ad utilizzo precedente il pagamento (es. piatti di ristorante), nei limiti del buon senso, il Commerciante si impegna a tener valido a scopo della realizzazione dell’Offerta, l’orario di inizio del servizio erogato.</p> 

<p>4.4 Dichiarazione di adesione all’Offerta: al fine di garantire la qualità del servizio erogato, il Consumatore non è obbligato a dichiarare di essere in possesso dello Sconto fino al momento del pagamento effettivo del servizio. Il Commerciante accetta quindi pienamente questa condizione. Il Contratto che viene ad instaurarsi tra Consumatore e Commerciante tramite l’utilizzo di BATEFY prevede l’erogazione dello sconto da parte del Commerciante.  E’ pieno diritto del Consumatore dichiarare di aver aderito all’Offerta prima del momento del pagamento, restando il Commerciante (vedi sezione 5 “REGOLE PER I COMMERCIANTI”) obbligato ad erogare in ogni caso il servizio.</p> 

<p>4.4 Utilizzo e Prenotazione: l’adesione all’offerta non presenta alcun vincolo all’utilizzo, inoltre non costituisce né sostituisce la prenotazione nel caso di Attività Commerciali che tipicamente la richiedano (es. ristoranti, centri benessere, altri servizi). Nel caso di servizi e/o prodotti che richiedono tipicamente –ma non obbligatoriamente- la prenotazione, l’adesione all’Offerta non comporta comunque l’instaurarsi di alcun obbligo di prenotazione.</p>
<p>Ne consegue e si dichiara che il Consumatore è a tutti gli effetti nella stessa posizione contrattuale di un qualsiasi altro consumatore non in possesso dell’Offerta ed è a suo carico l’eventuale prenotazione del servizio. La prenotazione vincola il Consumatore all’utilizzo/acquisto del servizio negli stessi termini contrattuali ovvero convezioni etiche imposte dalla legge vigente e dal senso comune; nessun vincolo in questo ambito (obbligo di utilizzo del servizio se prenotato) è invece posto da condizioni specifiche di questo Contratto.</p> 
<p>Il Consumatore si impegna in ogni caso ad avvisare il Commerciante nel caso di annullamento della prenotazione.</p> 

<p>4.4.1 BATEFY si dichiara estraneo ad ogni eventuale danno derivato dal mancato o alterato processo di prenotazione del servizio. BATEFY si impegna in ogni caso nel voler essere informato di eventuali problematiche insorte e nel voler apportare modifiche volte al miglioramento del Servizio offerto.</p> 

<h2>5. REGOLE PER I COMMERCIANTI (UTENTI-BUSINESS)</h2>     

<p>Le seguenti Condizioni sono da riferirsi esclusivamente utenti-Business, indicati finora anche con l’abbreviazione di “Commercianti”. Oltre alle seguenti Condizioni, sono da applicarsi e ritenersi valide per i Commercianti anche tutte le Condizioni di Contratto esposte e riguardanti entrambi i tipi di Utenti (“Commercianti” e “Consumatori”).</p>   

<p>5.1 Utilizzo del Servizio: l’accesso al servizio di gestione e programmazione delle Offerte è consentito al Commerciante tramite la registrazione a BATEFY tramite l’apposita sezione “Business”. 
Il commerciante si impegna a fornire a BATEFY le informazioni personali richieste, impegnandosi inoltre a mantenerle aggiornate e garantendone la veridicità e la precisione. Tutte le informazioni fornite all'atto della richiesta di registrazione originale saranno incluse nei dati di registrazione (“Dati di Registrazione”). Tutti i Dati di Registrazione dell’Inserzionista saranno trattati ed utilizzati da BATEFY nel rispetto delle regole di riservatezza e di sicurezza previste dalla legge, così come indicato nella Privacy Policy di BATEFY.  L’Utente è informato sulla raccolta e sul trattamento dei dati personali da parte di BATEFY.</p>     

<p>5.2 Utilizzo dei dati: Il Commerciante acconsente inoltre esplicitamente al fatto che le informazioni fornite possano essere divulgate nel caso in cui a BATEFY pervengano, ai sensi della legge vigente, richieste di comunicazione da parte di un organismo governativo o in sede di procedimento legale.</p> 

<p>5.3 Il commerciante è obbligato a non turbare, direttamente o tramite l’utilizzo da parte di terzi, il Servizio; è quindi responsabile del contenuto delle Offerte ed informazioni pubblicate tramite l’utilizzo dei servizi di BATEFY. Non è quindi consentito l’utilizzo di BATEFY per la pubblicazione e/o diffusione di materiale illecito, volgare, non decoroso nei termini della morale corrente, o rappresentante calunnia o diffamazione di altre parti.<br>
Inoltre, il Commerciante si impegna a non utilizzare il Servizio in maniera tale da violare diritti di proprietà intellettuale di BATEFY o di terzi.<br>
Con l’accettazione del Contratto, il Commerciante si obbliga a tenere indenne e salvaguardare BATEFY da qualsiasi richiesta riguardante l’utilizzo di BATEFY che violi questi principi.</p> 

<p>5.4 BATEFY è uno strumento che non garantisce la vantaggiosità del suo utilizzo e non risponde in alcun modo dei danni o del mancato guadagno causati al Commerciante o a terzi.</p> 

<p>5.5 Contenuto delle Offerte: il Commerciante si obbliga relativamente al contenuto ed alla forma delle offerte, a rispettare tutte le disposizioni di leggi vigenti.</p> 

<p>5.6 Il Commerciante autorizza BATEFY a far comparire le proprie informazioni e le proprie Offerte anche al di fuori del sito e della app BATEFY, nell’ambito di attività di pubblicizzazione e divulgazione del Servizio.</p>  

<br>
<h1>PRIVACY</h1>

<p>1. I dati personali comunicati dai Clienti vengono trattati da BATEFY per soddisfare le richieste dei Clienti stessi (registrazione ed adesione alle Offerte)</p>

<p>2. Il conferimento dei dati personali da parte del Cliente è puramente volontario e costituisce condizione indispensabile, a seconda dei casi, per l’iscrizione, pubblicazione o adesione alle Offerte da parte del Cliente. Il Cliente che si rifiutasse di fornire i dati personali richiesti sarà a seconda dei casi impossibilitato a completare la registrazione o l’utilizzo del servizi di BATEFY.</p>  

<p>3. I dati raccolti vengono trattati con modalità e strumenti volti a garantire la massima sicurezza e riservatezza e potranno essere resi accessibili a persone appartenenti allo staff BATEFY incaricate al trattamento.</p>

<p>4. I dati acquisiti da BATEFY potranno essere comunicati - per le medesime finalità per cui è effettuata la raccolta - a terzi, tra i quali (ma non esclusivamente) compaiono società che svolgono servizi di incasso e pagamento anche mediante carte di credito, soggetti che svolgono adempimenti di controllo e certificazione delle attività poste in essere da BATEFY, commercialisti, notai ed organi amministrativi e governativi di vario genere per gli adempimenti contabili e fiscali del caso, consulenti di BATEFY.</p> 

<p>5. TRATTAMENTO A FINALITA’ COMMERCIALI. I dati personali e generali degli Utenti potranno essere utilizzati, solo previa accettazione del Cliente, per l'invio delle Newsletter periodiche all'indirizzo e-mail indicato al momento della registrazione al servizio BATEFY. <br>
Questi dati potranno essere utilizzati nell’ambito di ricerche di mercato e per l'invio di comunicazioni commerciali da parte di BATEFY tramite qualsiasi mezzo lecito. 
Il Cliente è libero di decidere quali comunicazione non intende più ricevere, senza questo comportare l’impossibilità di utilizzo di BATEFY. 
Inoltre i dati personali potranno essere utilizzati per l'invio di comunicazioni di carattere promozionale e commerciale relative ai servizi offerti da terzi.</p> 
 
<p>Il consenso al trattamento dei dati personali a finalità commerciali descritte nel punto 5 (“TRATTAMENTO A FINALITA’ COMMERCIALI) è libero e facoltativo, ed in caso di mancato consenso la possibilità di registrarsi a BATEFY non sarà in alcun modo pregiudicata.</p>
 
<p>6. COOKIES. Il nostro sito web utilizza i cookies per migliorare la navigazione e per automatizzare dei meccanismi che rendano la ricerca e la visualizzazione delle Offerte più specifica per l’Utente. Il Cliente accetta l'utilizzo dei cookies da parte dei prodotti tecnologici di BATEFY.</p>   
</div>