<h1>Offers#index</h1>

<div id="filterBar">
<%= link_to("Filter by Percent", :sort => "percentage") %><br>
<%= link_to("Filter by Business", :sort => "business_id") %>
</div>

<div id="results">
<table style="width: 100%">
  <tr>
    <td><h2>Business<h2></td>
    <td><h2>Offer<h2></td> 
  </tr>
	<% @offers.each do |offer| %>
		<%= render(:partial => "results", :locals => {:o => offer}) %>
		<br>
	<% end %>
</table>
</div>

<br> 

<%= link_to('See More', '#', :onclick => "getOffers(0);return => true") %>