<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello @business.name</h1>
    <p>click on <a href=<%=@link%>>THIS LINK</a> to reset your password, if you remembered your password or never forgot it in the first place, please click <a href=<%=@link%>>HERE</a></p>
  </body>
</html>
