#profile_header {
	width: 100%;
	height: 305px;

	background-color: transparent;

	border-bottom: thin;
	border-color: white;
}

main {
	margin: 0;
}

#map_header {
	position: absolute;
	top: 0;
	width: 100%;
	height: 305px;
	z-index:-10;
}

#header_focus_image {
	width: 250px;
	height: 250px;
	overflow: hidden;
	display: block;
	margin-left: 10px;
	margin-top: 25px;

	border: solid;
	border-color: white;
	border-radius: 10px;
}

#header_focus_image img {
	height:  100%;

}

#profile_header h1 {
	color: white;
	font-family: "Cabin";
	font-size:32px;
	text-align: left;
	margin-top: 8px;
 }

#input {
	width: 100%;
	margin: 0px;
	background-color: white;
	float: center;
}

#input table {
	margin: 0 auto;
}

#input table label {
	font-family: "Raleway";
	font-size: 20px;
	line-height: 1.5;
}

#confirm {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;

	font-family: "Cabin";
	text-align: center;


	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
}

#confirm:target {
	display: block;
	pointer-events: auto;
}

#confirm > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 3px;
	background: white;
}

