#profile_header {
	width: 100%;
	height: 305px;

	background-color: gray;

	border-bottom: thin;
	border-color: white;

}

#header_focus_image {
	width: 250px;
	height: 250px;
	overflow: hidden;
	display: block;
	margin-left: auto;
	margin-right: auto;

	border: solid;
	border-color: white;
	border-radius: 10px;

	position: relative;
	top: 10px;
}

#header_focus_image img {

	height:  100%;
}

#header_back_image {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

#profile_header h1 {
	color: white;
	font-family: "Cabin";
	font-size:32px;
	text-align: center;
	margin-top: 8px;
 }

#errors {
	padding-bottom: 10px;

	background-color: #FD6E67;

	font-family: "Cabin";
}

#errors h2 {
	text-align: center;

	color: white;

	display: block;
	margin-top: 0;
	padding: 10px;
	background-color: #CC534D;
}

#errors p {
	font-size: 20px;
	text-align: center;
}

#errors ul {
	margin-left: 25%;
	margin-right: auto;
}

#input {
	width: 100%;
	margin: 0px;
	background-color: white;
	float: center;
}

#input table {
	margin-left: auto;
	margin-right: auto;
}

#input table label {
	font-family: "Cabin";
	font-size: 20px;
	line-height: 1.5;
}

#input input:not([type=submit]):not([type=file]) {
	font-family: "Cabin";

	border-radius: 5px;
}

#confirm {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;

	font-family: "Cabin";
	text-align: center;


	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
}

#confirm:target {
	display: block;
	pointer-events: auto;
}

#confirm > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 3px;
	background: white;
}

.submit_btn {
	background-color: #297A4A;
    border:none;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 15px 5px;
    display: inline-block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

}

.submit_btn:hover {
	background-color: #196A3A;
}