main {
	margin-top: 0;
}

html {
	background-color: white;
}

#profile_info {
	position: relative;
	margin-top: 64px;
	top: 5%;
}

#business_search_container {
	width: 80%;
	margin: 0 auto;
	display: block;
	background-color: gray;
}

#tab_bar li:hover:not(.active) {
	border-bottom-color: #E3E3E3;
	cursor: default;
}

.tab_nav {
	display: none;
}

#tab_nav_0 {
	display: block;
}

.signup_next, #signup_finish {
	float: right;
}

.signup_back {
	float: left;
}