main {
	margin-top: -64px;
}

#forgot_container {
	position: relative;
	top: 150px;
	left: 50%;
	width: 500px;
	height: 300px;
	margin-left: -250px;
}

#forgot_container h1 {
	float: none;
	font-size: 32px;
	color: #333;
	font-weight: 300;
	text-align: center;
}

#forgot_container h2 {
	float: none;
	font-size: 18px;
	color: #777;
	font-weight: 300;
}

#forgot_container div {
	display: block;
	text-align: center;
	margin: 20px;
}

#forgot_container div.errors {
	margin: 0;
}

#forgot_container div.notices {
	margin: 0;
}

.notices p {
	width: 100%;
	margin: 0;
}

.notices {
	display: none;
}