html {
	background-color: rgb(220, 223, 186);
	font-family: 'Raleway', sans-serif;
}

h1,body { margin: 0;}

a {
	text-decoration: none;
	color: black;
}

p.clear{
	clear:both;
	height:0;
	width:0;
	margin:0; 
}

header {
	background-color: rgba(19, 122, 42, 0.9);
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 1000;
}

.row {
	width: 100%; height: 75px; max-width: 1140px;min-width: 720px;margin: 0 auto;position: relative;
}
.smallcol, .largecol {
	margin-right: 3.09090%; float: left;height: 75px; min-height: 1px;
}
.row .smallcol {width: 22%;}
.row .largecol {width: 48%;}
.last {margin-right: 0px;}

.header_nav {height: 46px;width: 540px; margin: 0 auto;} 
.header_nav ul {height: 46px;float: left;padding: 0;list-style: none;}
.header_nav ul  li {float: left; margin: 0;}

.header_nav li:hover {background-color: rgb(16, 109, 37);}

.header_nav ul li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.header_nav .manage_btn:hover {
	background-color: rgb(6, 28, 79);
	color: white;
}

@media (max-width: 1020px) {
	header {height: 100px;}
	.row {width: 200px; height: 80px;margin: 10px auto 10px;}
	.smallcol:first-child {width: 250px;}
	.largecol {width: 100px;}
	.header_nav ul li a {padding: 5px 10px;font-size: 1.0em;}
	#logo {width: 100px; height: 30px;}
}

#logo {
	width: 250px;
	height: 75px;
}

.dropdown_container {
    position: relative; 
    top:  10px;
    width: 150px;
    margin: 0 auto;
    padding: 15px 15px;
    border: none;

    background: #fff;
    cursor: pointer;
    outline: none;
}

.dropdown_container:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: gray transparent;
}

.dropdown_container .dropdown_items {
	display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: 0;
	padding: 0;
    background: white;
    list-style: none;
}

.dropdown_container .dropdown_items li a {
  	display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.dropdown_container .dropdown_items li:hover a {
    color: rgb(19, 122, 42);
}

#profile_image {
	width: 40px;
	height: 40px;
	margin: 10px;
	display: inline-block;
}


main {
	position: relative;
	top: 75px;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:15px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 10px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#sign_in:hover{
	background-color: rgb(16, 109, 37);
}
