html {
	background-color: #E3E3E3;
}

header {
	background-color: rgba(48, 166, 112, 0.96);
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 99999;

	border: thin;
	border-color: black;
	border-style: solid;
	border-left: none;
	border-top:none;
	border-right: none;
	border-bottom: none;
}

body {
	margin:0;
}

#logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

#profile_button {
		position: fixed;
	top: 10px;
	right:25px;

}

#dd {

	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 50px;
	list-style-type: none;
	border-radius: 5px;
}

#dd a {
	display:inline-block;
	vertical-align: middle;

	height: 55px;
	width: 200px;

	color: white;
	font-family: "Cabin";
	font-size: 24px;

	margin-top: 0;
	padding-left: 5px;
	padding-right: 10px;

	text-decoration: none;
}

#dd li:not(:first-child) {
	visibility: hidden;
	background-color: white;
}

#dd li:not(:first-child) a {
	color: black;
}

#dd:target {
	background-color: #216A49;
}

#dd:target li {
	visibility: visible;
}

#dd li:hover:first-child {
	background-color: #216A49;
}

#dd li:not(:first-child) a:hover {
	background-color: gray;
}

#profile_image {
	width: 40px;
	height: 40px;

	position: relative;
	top: 7px;
	left:5px;

	padding-right: 20px;
}

main {
	position: relative;
	top: 75px;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:20px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 5px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#sign_in:hover{
	background-color: #196A3A;
}


.page {
	margin: 0px;
	padding: 0;
}

.modal_dialog {
	visibility: hidden;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal_dialog:target {
    opacity:1;
    pointer-events: auto;
}
.modal_dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}