html {
	background-color: rgb(220, 223, 186);
	font-family: "Cabin";
}

h1,body { margin: 0; }

a {
	text-decoration: none;
	color: black;
}

p.clear{
	clear:both;
	height:0;
	width:0;
	margin:0; 
}

header {
	background-color: rgba(19, 122, 42, 0.9);
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 99999;
}

.row {width: 100%; height: 75px; max-width: 1140px;min-width: 720px;margin: 0 auto;position: relative;}
.smallcol, .largecol {margin-right: 3.09090%; float: left;height: 75px; min-height: 1px;}
.row .smallcol {width: 22.68182%;}
.row .largecol {width: 48.45455%;}
.last {margin-right: 0px;}

.header_nav {height: 46px;width: 540px; margin: 0 auto;} 
.header_nav ul {height: 46px;float: left;padding: 0;list-style: none;}
.header_nav ul  li {float: left; margin: 0;}

.header_nav li:hover {
	background-color: rgb(16, 109, 37);
}

.header_nav ul li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	font-size: 20px;
}

.manage_btn {
	background-color: rgb(27, 52, 108);
}

.header_nav .manage_btn:hover {
	background-color: rgb(6, 28, 79);
	color: white;
}

@media (max-width: 1020px) {
	header {height: 100px;}
	.row {width: 362px; height: 80px;margin: 10px auto 10px; auto;}
	.smallcol:first-child {width: 250px;}
	.largecol {width: 100px;}
	.header_nav ul li a {padding: 5px 10px;font-size: 1.0em;}
	#logo {width: 100px; height: 30px;}
}

#logo {
	width: 250px;
	height: 75px;
}

#dd {
	margin: 10px;
	padding: 0;
	vertical-align: middle;
	line-height: 50px;
	list-style-type: none;
	border-radius: 5px;
}

#dd a {
	display:inline-block;
	vertical-align: middle;

	height: 55px;
	width: 200px;

	color: white;
	font-size: 24px;

	margin-top: 0;
	padding-left: 5px;
	padding-right: 10px;

	text-decoration: none;
}

#dd li:not(:first-child) {
	visibility: hidden;
	background-color: white;
}

#dd li:not(:first-child) a {
	color: black;
}

#dd:target {
	background-color: rgb(16, 109, 37);
}

#dd:target li {
	visibility: visible;
}

#dd li:hover:first-child {
	background-color: rgb(16, 109, 37);
}

#dd li:not(:first-child) a:hover {
	background-color: gray;
}

#profile_image {
	width: 40px;
	height: 40px;

	position: relative;
	top: 7px;
	left:5px;

	padding-right: 20px;
}

main {
	position: relative;
	top: 75px;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:15px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 10px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#sign_in:hover{
	background-color: rgb(16, 109, 37);
}
