html {
	background-color: rgb(220, 223, 186);
	font-family: 'Raleway', sans-serif;
}

h1,body { margin: 0;}

a {
	text-decoration: none;
	color: black;
}

p.clear{
	clear:both;
	height:0;
	width:0;
	margin:0; 
}

header {
	background-color: rgba(19, 122, 42, 0.9);
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 1000;
}

.row {
	width: 100%; height: 75px; max-width: 1140px;min-width: 720px;margin: 0 auto;position: relative;
}
.smallcol, .largecol {
	margin-right: 3.09090%; float: left;height: 75px; min-height: 1px;
}
.row .smallcol {width: 22%;}
.row .largecol {width: 48%;}
.last {margin-right: 0px;}

.header_nav {height: 75px;width: 400px; margin: 0 auto;} 
.header_nav ul {height: 46px;float: left;padding: 0;list-style: none;}
.header_nav ul  li {float: left; margin: 0;}

.header_nav li:hover {background-color: rgb(16, 109, 37);}

.header_nav ul li a {
	display: block;
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.header_nav .current {
	background-color: rgb(6, 28, 79);
	color: white;
}

#logo {
	width: 183px;
	height: 75px;
}

/* Styles for mobile header bar */ 

#header_mobile {display: none; height: 75px;}

#mobile_logo_ctn {
	margin: 0 auto;
}

#mobile_menu_ctn {
	position: absolute;
	top: 0;
	right: 0;
	width: 75px;
	height: 75px;

	background-color: transparent
}

#mobile_menu_ctn:hover {
	background-color: rgb(16, 109, 37);
}

#mobile_menu_ctn:before {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 18px;
	height: 7px;
	width: 38px;
	border-top: 6px solid white;
}

#mobile_menu_ctn:after {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 31px;
	height: 7px;
	width: 38px;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
}

#mobile_menu {
	list-style: none;
	display: none;
	position: fixed;
	top: 75px;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0;

	background-color: white;
	border-bottom: 1px solid black;
}

#mobile_menu li {
	display: block;
	height: 75px;
	border-bottom: 1px solid gray;
}

#mobile_menu li:hover {
	background-color: #E3E3E3;
}

#mobile_menu li a {
	display: block;
	height: 75px;
	margin: 0 25px;
	line-height: 75px;
	font-size: 24px;
	font-weight: 500;
}

#mobile_menu b {
	position: absolute;
	top: 0;
	left: 130px;
}

#mobile_profile_image {
	width: 65px;
	height: 65px;
	padding: 5px;
}

.mobile_profile_cell a {
	padding-left: 75px;
}

@media (max-width: 800px) {
	#header_big {display: none;}
	#header_mobile {display: block;}
}

.dropdown_container {
    position: relative; 
    top:  10px;
    width: 150px;
    margin: 0 auto;
    padding: 15px 15px;
    border: none;

    background: #fff;
    cursor: pointer;
    outline: none;
}

.dropdown_container:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: gray transparent;
}

.dropdown_container .dropdown_items {
	display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: 0;
	padding: 0;
    background: white;
    list-style: none;
}

.dropdown_container .dropdown_items li a {
  	display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
}

.dropdown_container .dropdown_items li:hover a {
    color: rgb(19, 122, 42);
}

#profile_image {
	width: 40px;
	height: 40px;
	margin: 10px;
	display: inline-block;
}


main {
	position: relative;
	top: 75px;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:15px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 10px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#sign_in:hover{
	background-color: rgb(16, 109, 37);
}
