/* CSS Resets */

html, body, div, h1, h2, h3, h4, h5, h6, p, pre, a, img, strong, b, u, i, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a img {border: none;}
a {text-decoration: none; color: none;}
p.clear{clear:both; height:0; width:0; margin:0; }

/* Main Page Styles */
html {
	background-color: white;#F5F5F5;
	font-family: 'Raleway', sans-serif;
}

main {
	float: left;
	width: 100%;
	margin-top: 64px;
}

/* Header Bar Styles */
header {
	background-color: rgba(19, 122, 42, 0.9);
	
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 1000;

	box-shadow: 0 0 10px #ccc;
}

.row {
	width: 100%; 
	height: 64px; 
	max-width: 1140px;
	min-width: 720px;
	margin: 0 auto;
	position: relative;
}
.smallcol, .largecol {
	margin-right: 3.09090%;
	height: 64px;
	float: left; 
	min-height: 1px;
}
.row .smallcol {width: 22%;}
.row .largecol {width: 48%;}
.last {margin-right: 0px;}

.header_nav {height: 64px;width: 400px; margin: 0 auto;} 
.header_nav li {float: left; margin: 10px;}

.header_nav li a {
	height: 28px;
	display: block;
	padding: 10px 15px;

	text-decoration: none;
	color: white;
	font-size: 18px;

	-o-transition:.5s ease-out;
	-ms-transition:.5s ease-out;
	-moz-transition:.5s ease-out;
	-webkit-transition:.5s ease-out;
	transition:.5s ease-out;
}

.header_nav li:hover a:not(.current) {color: #1B336C;}

.header_nav .current {
	color: #1B336C;
	border-bottom: 5px solid #1B336C;
}

#logo {
	width: 183px;
	height: 75px;
}

/* Styles for Profile Dropdown */

.dropdown_container {
    position: relative; 
    top:  6px;
    width: 80%;
    margin: 0 auto;
    padding: 15px 15px;
    border: none;
    background-color: #1B336C;
    color: white;
    cursor: pointer;
    outline: none;
}

.dropdown_container:hover {
	background-color: #061C4F;
}

.dropdown_container:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: white transparent;

    transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.dropdown_container.open:after{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}

.dropdown_container .dropdown_items {
	display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: 14px 0;
	padding: 0;
    background: white;
    list-style: none;
    box-shadow: 2px 2px 4px gray;
}

.dropdown_container .dropdown_items li a {
  	display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: all 0.3s ease-out;
}

.dropdown_container .dropdown_items li:hover a {
    color: rgb(19, 122, 42);
}

#profile_image {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 40px;
}

.profile_name {
	margin-left: 30px;
}

#sign_in {
	float: right;

 	position: relative; 
    top:  10px;
    width: 70px;
    margin: 0 auto;
    padding: 10px 15px;

	background-color: #1B336C;

    border:none;
    border-radius: 3px;
    display: block;

    color: white;
	font-family: 'Raleway';
    font-size: 18px;
    text-decoration: none;
    text-align: center;
}

#sign_in:hover{
	background-color: #061C4F
}

/* Styles for mobile header bar */ 

#header_mobile {display: none; height: 75px;}

#mobile_logo_ctn {
	margin: 0 auto;
}

#mobile_menu_ctn {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;

	background-color: transparent
}

#mobile_menu_ctn:hover {
	background-color: rgb(16, 109, 37);
}

#mobile_menu_ctn:before {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 15px;
	height: 7px;
	width: 38px;
	border-top: 6px solid white;
}

#mobile_menu_ctn:after {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 28px;
	height: 8px;
	width: 38px;
	border-top: 6px solid white;
	border-bottom: 6px solid white;
}

#mobile_menu {
	list-style: none;
	display: none;
	position: fixed;
	top: 64px;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0;
	padding: 0;

	background-color: white;
	border-bottom: 1px solid black;
}

#mobile_menu li {
	display: block;
	height: 75px;
	border-bottom: 1px solid gray;
}

#mobile_menu li:hover {
	background-color: #E3E3E3;
}

#mobile_menu li a {
	display: block;
	height: 75px;
	margin: 0 25px;
	line-height: 75px;
	font-size: 24px;
	font-weight: 500;
}

#mobile_menu b {
	position: absolute;
	top: 0;
	left: 130px;
}

#mobile_profile_image {
	width: 65px;
	height: 65px;
	padding: 5px;
}

.mobile_profile_cell a {
	padding-left: 75px;
}

@media handheld, only screen and (max-width: 800px) {
	#header_big {display: none;}
	#header_mobile {display: block;}
}

/* Styles for inputs */
         
.text_input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background: #EAE7E7;
    border: 1px solid #C8C8C8;
    color: #777;
    font-size: 18px;
    margin: 0 0 10px;
    padding: 15px 10px 15px 40px;
    width: 270px;
}

.text_input:focus {

    background-color: #FFFFFF;
    border: 1px solid #1B336C ;
    outline: none;
}

.submit_btn {
	background-color: #137A2A;
    border:none;
    padding: 5px 20px;
    margin: 15px 5px;
    display: inline-block;

    color: white;
	font-family: 'Raleway';
	font-weight: 300;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}


.submit_btn:hover {
	background-color: #005914
}

.errors, .notices {
	padding: 10px;
	width: 100%;
	margin: 0 auto;
	color: white;
	background-color: #FD6E67;
}

.errors h2 , .notices h2{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: white;
	display: block;
	margin: 10px;
}

.errors p, .notices p {
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	margin: 5px;
}

.errors ul , .notices ul{
	margin: 0 25%;
	font-size: 14px;
	font-weight: 300;
	list-style-type: disc;
}

.notices {
	background-color: rgb(19, 122, 42)
}

