/* CSS Resets */

html, body, div, h1, h2, h3, h4, h5, h6, p, pre, a, img, strong, b, u, i, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;vertical-align: baseline;background: transparent;}
ol, ul {list-style: none;}
table {border-collapse: collapse;border-spacing: 0;}
a img {border: none;}
a {text-decoration: none; color: none;}
p.clear{clear:both; height:0; width:0; margin:0; }

/* Main Page Styles */
html {
	background-color: #F5F5F5;
	font-family: 'Raleway', sans-serif;
	height: 100%;
	min-width: 400px; 
}

body {
	height: 100%;
}

main {
	float: left;
	width: 100%;
	height: 100%;
	margin-top: 64px;
}

/* Header Bar Styles */
header {
	background-color: rgba(255, 255, 255, 0.9);
	
	width: 100%;
	height: 64px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 1000;

	box-shadow: 0 0 10px #ccc;
}

.row {
	width: 100%; 
	height: 64px; 
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}
.smallcol, .largecol {
	margin-right: 3.09090%;
	height: 64px;
	float: left; 
	min-height: 1px;
}
.row .smallcol {width: 22%;}
.row .largecol {width: 48%;}
.last {margin-right: 0px;}

.header_nav {height: 64px;width: 400px; margin: 0 auto;} 
.header_nav li {float: left; margin: 10px;}

.header_nav li a {
	height: 28px;
	display: block;
	padding: 10px 15px;

	text-decoration: none;
	color: #FB9E25;
	font-size: 18px;

	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.header_nav li:hover a:not(.current) {color: #FFCC8A;}

.header_nav .current {
	color:  #777;
}

#logo {
	margin-top: 8px;
	margin-left: 30px;
	width: 147px;
	height: 50px;
}

/* Styles for Profile Dropdown */

.dropdown_container {
    position: relative; 
    top:  6px;
    width: 85%;
    margin: 0 auto;
    padding: 15px 15px;
    border: none;
    background-color: #454F8C;
    color: white;
    cursor: pointer;
    outline: none;

    -o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.dropdown_container:hover, .dropdown_container.open {
	background-color: #061C4F;
}

.dropdown_container:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: white transparent;

    transition:All 0.3s ease;
	-webkit-transition:All 0.3s ease;
	-moz-transition:All 0.3s ease;
	-o-transition:All 0.3s ease;
}

.dropdown_container.open:after{
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
}

.dropdown_container .dropdown_items {
	display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    right: 0px;
    margin: 14px 0;
	padding: 0;
    background: white;
    list-style: none;
    box-shadow: 2px 2px 4px gray;
}

.dropdown_container .dropdown_items li a {
  	display: block;
    text-decoration: none;
    color: #333;
    padding: 15px;
    transition: all 0.3s ease-out;
}

.dropdown_container .dropdown_items li:hover a {
    color: #FB9E25;
}

#profile_image {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 30px;
	height: 30px;
	border-radius: 40px;
}

.profile_name {
	margin-left: 35px;
	margin-right: 27px;
	white-space: nowrap;
	overflow: hidden;
}

#sign_in_container {
	position: relative;
}

#sign_in {
 	position: relative; 
    top:  10px;
    width: 110px;
    margin: 0 auto;
    padding: 10px 10px;

	background-color: #454F8C;

    border:none;
    border-radius: 3px;
    display: block;

    color: white;
	font-family: 'Raleway';
    font-size: 18px;
    font-weight: 300;
    text-align: center;

    cursor: hand;
    cursor: pointer;

    -o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

#sign_in:hover {
	background-color: #061C4F;
}


.info_bar {
	width: 100%;
	padding: 10px 0;
	background: #F5F5F5;
	position: relative;
	z-index: 300;
}

.info_bar_content {
	width: 80%;
	margin: 0 auto;
	display: block;
	position: relative;
}

.info_bar_content h1 {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	color: #FB9E25; 
	font-size: 24px;
	font-weight: 300;
	text-align: center;
}
.info_bar_content p {
	display: inline-block;
	color: #777; 
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	margin: 5px;
	line-height: 1.5;
}

.info_bar_content a {
	display: inline-block;
	color: #333; 
	font-size: 18px;
	font-weight: 400;
	text-align: right;
	float: right;
	margin: 0 10px;
	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.info_bar_content a:hover {
	 color: #FB9E25;
}

.info_bar_footer{
	float: right;
}

.info_close {
	position: absolute;
	right: 20px;
	top: 50%;
	width: 30px;
	height: 30px;
	margin-top: -15px;
	text-align: center;
	color: #777;
	cursor: hand;
	cursor: pointer;
	border-radius: 3px;

	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.info_close:hover {
	color: #FB9E25;
}

/* Styles for info bar headers */
.info_tab {
	position: absolute;
	top: 64px;
	right: 0;
	width: 50px;
	height: 50px;
	text-align: center;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	cursor: pointer;
	cursor: hand;
	color: #F5F5F5 ;
	
	z-index: 200;

	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.info_tab i {
	position: relative;
	top: 20%;

}

.info_tab:hover {
	color: #FB9E25;
}

.modal {
	display:none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 1000;
}

.modal > div {
	width: 40%;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 5px 20px;
	border-radius: 3px;
	background: white;
	overflow: hidden;
	z-index: 1001;
}

.modal .header {
	display: block;	
}

.modal .header h1 {
	margin: 10px auto;
	font-size: 24px;
	font-weight: 300;
	color: #333;
	text-align: center;
}

.modal .close {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	padding: 10px;
	width: 20px;
	height: 20px;
	color: #777;
	cursor: pointer;
	background-color: white;
	border-radius: 3px;
	text-align: center;
	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.modal .close:hover {
	color: #FB9E25;
}

.modal .body {
	margin-top: 10px;
	text-align: center;
}

/* Styles for mobile header bar */ 

#header_mobile {display: none; height: 64px; background-color: #FFF;}

#mobile_logo_ctn {
	margin: 0 auto;
}

#mobile_menu_ctn {
	position: absolute;
	top: 0;
	right: 0;
	width: 64px;
	height: 64px;

	background-color: transparent;

	-o-transition: border-color .3s ease;
	-ms-transition: border-color .3s ease;
	-moz-transition: border-color .3s ease;
	-webkit-transition: border-color .3s ease;
	transition: border-color .3s ease;	
}

#mobile_menu_ctn:hover:before, #mobile_menu_ctn:hover:after {
	border-color: #FFCC8A;
}

#mobile_menu_ctn:before {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 15px;
	height: 7px;
	width: 38px;
	border-top: 6px solid #FB9E25;
}

#mobile_menu_ctn:after {
	content: "";
	display: block;
	position: absolute;
	right: 16px;
	top: 28px;
	height: 8px;
	width: 38px;
	border-top: 6px solid #FB9E25;
	border-bottom: 6px solid #FB9E25;
}

#mobile_menu {
	list-style: none;
	display: none;
	position: fixed;
	top: 64px;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;
	background-color: rgba(0,0,0,0.8);
	border-bottom: 1px solid black;
}

#mobile_menu li {
	display: block;
	background-color: #FFF;
	height: 75px;
	border-bottom: 1px solid gray;
}

#mobile_menu li:hover {
	background-color: #E3E3E3;
}

#mobile_menu li a {
	display: block;
	height: 75px;
	margin: 0 25px;
	line-height: 75px;
	font-size: 24px;
	font-weight: 500;
	color: #333;
}

#mobile_menu b {
	position: absolute;
	top: 0;
	left: 130px;
}

#mobile_profile_image {
	width: 65px;
	height: 65px;
	padding: 5px;
}

.mobile_profile_cell a {
	padding-left: 75px;
}


/* Styles for inputs */
         
.text_input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    background: #EAE7E7;
    border: 1px solid #C8C8C8;
    color: #777;
    font-size: 14px;
    padding: 10px 10px 10px 40px;
    width: 220px;
}

.text_input:focus {

    background-color: #FFFFFF;
    border: 1px solid #454F8C;
    outline: none;
}

.submit_btn {
	background-color: #454F8C;
    border:none;
    padding: 10px 20px;
    margin: 15px 5px;
    display: inline-block;
    border-radius: 3px;
    color: white;
	font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;

    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}


.submit_btn:hover {
	background-color: #061C4F;
}

.errors, .notices {
	padding: 10px 0 10px 0;
	width: 100%;
	margin: 0 auto;
	color: white;
	background-color: #FD6E67;
}

.errors h2 , .notices h2{
	text-align: center;
	font-size: 20px;
	font-weight: 400;
	color: white;
	display: block;
	margin: 10px;
}

.errors p, .notices p {
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	margin: 5px;
	color: white;
}

.errors ul , .notices ul{
	margin: 0 25%;
	font-size: 14px;
	font-weight: 300;
	list-style-type: disc;
}

.notices {
	background-color: rgb(19, 122, 42)
}

#spinner {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	z-index: 1002;
}

#spinner img {
	width: 50px;
	height: 50px;
}


/* Mobile Styles */

@media handheld, only screen and (max-device-width: 800px), only screen and (max-width: 800px) {
	#header_big {display: none;}
	#header_mobile {display: block;}
	.modal {width: 100%; height: 100%; padding: 0;}
	.modal > div {width: 100%; height: 100%; margin: 0; border-radius: 0;}

	.info_bar {padding: 0;}
	.info_bar_content {padding: 5px 0 5px 0; margin: 0 auto; width: 90%;}
	.info_close {position: absolute; top: 25px;}
	.info_bar_content p {margin: 0; font-size: 16px;}
	.info_tab {top: 70px; right: 10px;}
}

/* Special Cases */
button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
     padding: 0 !important;
     border: 0 none !important;
 }


 input[type='text'],
input[type='number'],
textarea {
  font-size: 16px; /*Prevents autoscaling on mobile
}
