html {
	background-color: #E3E3E3;
	font-family: "Cabin";
}

header {
	background-color: rgba(48, 166, 112, 0.96);
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;

	z-index: 99999;
}



.header_nav {
	list-style-type: none;
	margin-left: 300px;
	margin-right: 25px;
}

.header_nav li {
	float: left;
	display: inline-block;
	padding: 10px 20px;
	width: 14%;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
}

.header_nav li:hover {
	background-color: #196A3A;
}

.header_nav a {
	text-decoration: none;
	color: white;
	font-size: 20px;
}

body {
	margin:0;
}

#logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

#profile_button {
		position: fixed;
	top: 10px;
	right:25px;

}

#dd {

	margin: 0;
	padding: 0;
	vertical-align: middle;
	line-height: 50px;
	list-style-type: none;
	border-radius: 5px;
}

#dd a {
	display:inline-block;
	vertical-align: middle;

	height: 55px;
	width: 200px;

	color: white;
	font-size: 24px;

	margin-top: 0;
	padding-left: 5px;
	padding-right: 10px;

	text-decoration: none;
}

#dd li:not(:first-child) {
	visibility: hidden;
	background-color: white;
}

#dd li:not(:first-child) a {
	color: black;
}

#dd:target {
	background-color: #216A49;
}

#dd:target li {
	visibility: visible;
}

#dd li:hover:first-child {
	background-color: #216A49;
}

#dd li:not(:first-child) a:hover {
	background-color: gray;
}

#profile_image {
	width: 40px;
	height: 40px;

	position: relative;
	top: 7px;
	left:5px;

	padding-right: 20px;
}

main {
	position: relative;
	top: 75px;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:15px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 10px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

#sign_in:hover{
	background-color: #196A3A;
}
