main {
	margin-top: 0;
}

/* Month table styles */

table {
	position: absolute;
	top: 0;
	bottom: 64px;
	width: 100%;
	height: 90%;
	margin-top: 64px;
	background-color: #FFF;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 40px;
	font-weight: 400;
	padding: 10px;
	margin-left: 5%;
	color: #333;
	display: inline-block;
}

h2 {
	font-family: sans-serif;
	text-align: left;
	font-size: 40px;
	padding: 10px;
	color: #777;
	font-weight: 200;
	display: inline-block;
}

td {
	height: 5%;
	width: 14.286%;
	padding: 20px;
	font-family: sans-serif;
	position: relative;
}

.change_month {
	display: inline-block;
	padding: 10px;
	text-align: right;
	margin-right: 10%;
	cursor: hand;
	cursor: pointer;
	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.change_month:not(.change_month_inactive):hover { 
	color: #FB9E25;
}

.change_month_inactive {
	color: #E3E3E3;
	cursor: default;
}

.week td {
	height: auto;
	border-bottom: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
}

td .number {
	position: absolute;
	top: 4px;
	right:10px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
}

td .number p {
	position: absolute;
	top: 6px;
	right:6px;
}

td .number.current {
	background-color: #FB9E25;
	color: #FFF;
}

.day_offers_preview {
	position: relative;
	top: 15px;
	max-height: 113px;
	overflow: hidden;
}

.day_offers_preview p {
	height: 14px;
	margin: 2px;
	padding: 5px;
	color: #FFF;
	border-radius: 2px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	font-size: 14px;
	margin-right: 8px;
	overflow: hidden;
}

.day_offers_preview p:before { 
	content: "";
	position: absolute;
	right: 0;
	margin-top: -5px;
	border-left: 8px solid red; 
	border-bottom: 12px solid transparent; 
	border-top: 12px solid transparent; 
}

.extra {
	color: #AAA;
	text-align: center;
	font-size: 14px;
}

.ten, .fifteen { background-color: #FBC325;}
.twenty, .twentyfive { background-color: #FBC325;}
.thirty, .thirtyfive { background-color: #FB9E25;}
.forty, .fortyfive { background-color: #FB9E25;}
.fifty, .fiftyfive { background-color: #E58202;}
.sixty, .sixtyfive { background-color: #E58202}
.seventy, .seventyfive { background-color: #E54302;}
.eighty { background-color: #E54302;}

.ten:before, .fifteen:before, .twenty:before, .twentyfive:before { border-left-color: #FBC325 !important;}
.thirty:before, .thirtyfive:before, .forty:before, .fortyfive:before { border-left-color: #FB9E25 !important;}
.fifty:before, .fiftyfive:before, .sixty:before, .sixtyfive:before { border-left-color: #E58202 !important;}
.seventy:before, .seventyfive:before, .eighty:before { border-left-color: #E54302 !important;}

.day_toggle {
	cursor: hand;
	cursor: pointer;
}

.day_active {
	color: black;
}

.day_inactive {
	color: #A3A3A3;
}

th {
	padding: 20px;
	height: 5%;
	font-size: 20px;
	font-weight: 300;
	text-align: right;
	border-bottom: 1px solid #A3A3A3;
}

.month {
	display: none;
}

/* Day Info Style */

.modal > div {
	width: 650px;
	min-height: 200px;
}

.modal .header {
	border-bottom: 1px solid gray;
}

.date {
	padding: 5px 20px 10px 20px;
	display: inline-block;
	text-align: center;
}

.date h4 {
	font-size: 24px;
	font-weight: 400;
	text-align: right;
	padding: 2px;
}

.date h3 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #777;
	text-align: center;
	padding: 2px;
}

.weekday {
	position: absolute;
	top: 0;
	margin: 0;
	display: inline-block;
	width: 70%;
	text-align: center;
}

.modal .header h1 {
	font-size: 32px;
}

.cell {
	float: left;
	padding: 10px;
 	display: inline-block;
 	font-size: 14px;
 	font-weight: 400;
 	color: #777;
 	text-align: center;
 	width: 110px;
}

.new_toggle {
	position: absolute;
	right: 0;
	width: 100px;
	padding: 12px 10px;
 	display: inline-block;
 	text-align: center;
 	color: #777;
	background-color: #F5F5F5;
	cursor: pointer;
	font-size: 12px;
	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;

	-o-transition: width .2s ease;
	-ms-transition: width .2s ease;
	-moz-transition: width .2s ease;
	-webkit-transition: width .2s ease;
	transition: width .2s ease;
}

.new_toggle:hover, .new_toggle.active {
	background-color: #E3E3E3;
}

.new_toggle p {
	display: none;
}

.new_offer {
	float: left;
	display:none;
	background-color: #E3E3E3;
	color: #333;
	padding-top: 10px;
}

.new_offer .cell p {
	display: none;
	font-size: 20px;
	color: #333;
}

.new_offer .cell i {
	font-size: 12px;
	font-style: normal;
	color: #333;
	display: inline-block;
}

.new_offer .cell select, .new_offer .cell input {
	font-size: 14px;
	margin-right: 10px;
}

.offers_container {
	display: inline-block;
	overflow: auto;
}

.row_info {
	position: relative;
	overflow: hidden;
}

@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px) {

	table * {
		width: auto;
		height: auto;
		padding: 0;
		margin: 0;
	}

	table th {
		text-align: center;
		font-size: 16px;
		padding-bottom: 5px;
		height: 25px;
	}

	table td {height: 50px;padding: 0;}


	table h1, table h2 {
		margin-left: 10px;
		font-size: 28px;
	}

	.week td {
		height: 5%;
		width: 14.286%;
		padding: 20px;
		border: none;
	}

	.day_offers_preview {display: none;}

	/* Modal */
	.modal > div {
		padding: 0; 
		width: 100%; 
		height: 100%; 
		overflow: scroll;
	}
	.modal .header .weekday {
		position: absolute;
		left: 0;
		width: 100%;
	}

	.row_info .cell:first-child {
		width: 16% !important;
	}

	.row_info .cell {
		width: 12%;
		height: 22px;
	}


	.modal .new_toggle {
		width: 16%;
		height: 22px;
	}

	.modal .new_offer .cell {
		height: auto;
	}

	.modal .offers_container {
		width: 100%;
	}

	.new_toggle.active {
		float: none;
		width: 100% !important;
		padding-left: 0;
		padding-right: 0;
	}

	.new_toggle p {
		display: block;
		font-size: 24px;
		color: #FB9E25;
	}

	.new_toggle.active i {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline-block;
		padding: 18px 10px 6px 10px;
		width: 64px;
		height: 22px;
		color: #777;
		cursor: pointer;
		vertical-align: baseline;
	}

	.new_offer .cell {
		display: block;
		width: 100%;
		text-align: right;
		padding: 10px 0;
	}

	.new_offer .cell p {
		display: inline-block;
		float: left;
		margin: 0 10px;
	}

}
