table {
	margin: 10px auto;
	background-color: white;
	padding: 20px 40px;
	width: 90%;
	border-collapse: collapse;
	border-radius: 3px;
}

h2 {
	margin: 0;
	font-size: 32px;
	text-align: center;
	padding: 5px 20px 10px 20px;
}

h3 {
	font-size: 24px;
	text-align: center;
	font-style: bold;
	margin: 0;
}

h4 {
	color: gray;
	margin: 0;
	font-style: normal;
	text-align: center;
}

td {
	padding:20px 20px; 
	text-align: left;
	border-collapse: none;
}

th {
	padding: 10px;
	text-align: center;
	font-style: bold;
	font-size: 24px;
	border-bottom: 1px solid gray;
}

.day_toggle:hover {
	background-color: #E3E3E3;
	cursor: pointer;
}

.day_info {
	display:none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.8);
	z-index: 10000;
}

.day_active {
	background-color: #196A3A;
	color: white;
}

.day_info > div {
	width: 600px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 5px 20px;
	border-radius: 3px;
	background: white;
	height: 250px;
	overflow: hidden;
}

.close {
	position: relative;
	top: -20px;
	right: -25px;
	display: inline-block;
	padding: 10px;
	width: 10%;
	color: black;
	cursor: pointer;
	background-color: white;
	border-radius: 3px;
	text-align: center;
}

.close:hover {
	background-color: #E3E3E3;
}

.date {
	padding: 20px;
	display: inline-block;
}

.weekday {
	margin: 0;
	display: inline-block;
	width: 70%;
	text-align: center;
}

.info_header {
	border-bottom: 1px solid gray;
}

.cell {
	float: left;
	padding: 10px;
 	display: inline-block;
 	font-size: 14px;
 	font-weight: 400;
 	text-align: center;
 	width: 100px;
}

.new_toggle {
	float: right;
	width: 100px;
	padding: 10px;
 	display: inline-block;
 	text-align: center;
	background-color: #5AAC6C;
	cursor: pointer;
}

.new_toggle:hover, .new_toggle.active {
	background-color: #4A9C5C;
}

.new_offer {
	float: left;
	display:none;
	background-color: #4A9C5C;
}

.offers_container {
	display: inline-block;
	overflow: auto;
}

.row_info {
	overflow: auto;
}

.month_pages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.month_pages li table{
	display: hidden;
}

.month{
	display:none;
}

.change_month:hover{
	background-color: #E3E3E3;
	color: white;
	cursor: pointer;
}

.change_month{
	font-size: 32px;
	color: black;
}

