table {
	margin: 0 auto;
	background-color: white;
	padding: 20px 40px;
	width: 100%;
	max-width: 1000px;
	border-collapse: collapse;
}

h2 {
	font-size: 32px;
	text-align: center;
}

h3 {
	font-size: 24px;
	font-style: bold;
	margin: 0;
}

h4 {
	font-size: 14px;
	color: gray;
	margin: 0;
}

td {
	padding: 20px 0; 
	text-align: center;
}

.day_label {
	border: 1px solid black;
}

.add_cells {
	background-color: gray;
}

.show_offers {
	background-color: green;
}