main {
	margin-top: 0;
}

/* Month table styles */

table {
	position: absolute;
	top: 0;
	bottom: 64px;
	width: 100%;
	height: 90%;
	margin-top: 64px;
	background-color: #FFF;
}

h1 {
	font-family: 'Raleway', sans-serif;
	text-align: left;
	font-size: 40px;
	font-weight: 400;
	padding: 10px;
	margin-left: 5%;
	color: #333;
	display: inline-block;
}

h2 {
	font-family: sans-serif;
	text-align: left;
	font-size: 40px;
	padding: 10px;
	color: #777;
	font-weight: 200;
	display: inline-block;
}

td {
	height: 5%;
	width: 14.286%;
	padding: 20px;
	font-family: sans-serif;
	position: relative;
}

.change_month {
	display: inline-block;
	padding: 10px;
	text-align: right;
	margin-right: 10%;
	cursor: hand;
	cursor: pointer;
	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.change_month:hover { 
	color: #FB9E25;
}

.change_month_inactive {
	color: #777;
	cursor: default;
}

.week td {
	height: auto;
	border-bottom: 1px solid #E3E3E3;
	border-right: 1px solid #E3E3E3;
}

td .number {
	position: absolute;
	top: 20;
	right:20px;
}

.day_toggle {
	cursor: hand;
	cursor: pointer;
}

.day_active {
	color: black;
}

.day_inactive {
	color: #A3A3A3;
}

th {
	padding: 20px;
	height: 5%;
	font-size: 20px;
	font-weight: 300;
	text-align: right;
	border-bottom: 1px solid #A3A3A3;
}

.month {
	display: none;
}

.day_offers_count {
	width: 100%;
	height: 100%;
}

.day_offers_count p {
	display:block;
	height:100%;
	width: 100%;
	color: #333;
	text-align: center;
	font-weight: 300;
	font-size: 300%;
}

/* Day Info Style */

.modal > div {
	width: 600px;
}

.modal .header {
	border-bottom: 1px solid gray;
}

.date {
	padding: 20px;
	display: inline-block;
	text-align: center;
}

.date h4 {
	font-size: 24px;
	font-weight: 400;
	text-align: right;
	padding: 2px;
}

.date h3 {
	font-family: sans-serif;
	font-weight: 300;
	font-size: 20px;
	color: #777;
	text-align: center;
	padding: 2px;
}

.weekday {
	margin: 0;
	display: inline-block;
	width: 70%;
	text-align: center;
}

.cell {
	float: left;
	padding: 10px;
 	display: inline-block;
 	font-size: 14px;
 	font-weight: 400;
 	color: #777;
 	text-align: center;
 	width: 100px;
}

.new_toggle {
	float: right;
	width: 100px;
	padding: 12px 10px;
 	display: inline-block;
 	text-align: center;
 	color: #777;
	background-color: #F5F5F5;
	cursor: pointer;
	font-size: 12px;
	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.new_toggle:hover, .new_toggle.active {
	background-color: #E3E3E3;
}

.new_offer {
	float: left;
	display:none;
	background-color: #E3E3E3;
	color: #777;
}

.offers_container {
	display: inline-block;
	overflow: auto;
}

.row_info {
	overflow: auto;
}

@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px) {

}
