html {
	background-color: #F3F3F3;
}

header {
	background-color: white;
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;
}

header #logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

nav {
	background-color: white;
	height: 100%;
	width: 250px;

	position: fixed;
	left: 0px;
	top: 75px;

	border: thin;
	border-color: black;
	border-style: solid;
	border-left: none;
	border-top:none;
	border-right: inset;
}

nav li {
	padding: 15px;
}

main {
	position: fixed;
	left:250px;
	top:75px;
}

h1 {
	color: black;
}

#sign_in a {
	position: fixed;
	right: 20px;
	top:20px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 5px 20px;

    display: block;

    color: white;
	font-family: 'Arial';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

