#filter_bar {
	display: block;
	width: 100%;
	height: 80vh;
	margin: 0 auto;
	background-color: #F5F5F5;
	padding:10px;
	text-align: center;
	z-index: 100;
}

#tag_bar, #subtag_bar{
	width: 60%;
	min-width: 400px;
	max-height: 80%;
	margin: 0 auto;
	position: relative;
	top: 10%;
	padding:25px;
	background-color: #454F8C;
	border-radius: 3px;
	overflow: scroll;

	-webkit-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
}

#tag_bar h2 {
	margin-bottom: 25px;
	color: white;
	font-weight: 500;
}

#tag_bar a:not(#search_field_button), #subtag_bar a{
	display:inline-block;
	padding:15px;
	margin: 5px;
	border-radius:3px;
	border: 1px solid #FFF;
	background-color: transparent;
	color:   #FFF;
	font-size: 16px;

 	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

#tag_bar a:not(#search_field_button):hover, #subtag_bar a:hover{
	background-color:  #FB9E25;
}



/* Results Grid CSS */

.grid {
    padding: 10px 10px 100px 10px;
    margin: 10px auto;
    width: 80%; 
    list-style: none;
    text-align: center;
    min-width: 380px;
    border-radius: 3px;
    background-color: transparent;
    position: relative;
}
 
.grid li {
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: left;
    position: relative;
    border-radius: 3px;

    margin: 20px;
}

.grid figure {
    margin: 0;
    width: 250px;
    height: 200px;
    position: relative;
    border-radius: 3px;
    border:1px solid gray;
    overflow: hidden;
}

.grid figure img {
    max-width: 100%;
    height: 100%;
    display: block;
    position: relative;
	
	border-radius: 3px;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.grid figcaption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: 240px;
    height: 50px;
    background: rgba(255,255,255,0.9);
    color:black;
    border-radius: 0;
    overflow: hidden;
}

.grid figcaption h3 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    color: black;
}

.grid figcaption p {
	font-size: 14px;
	font-weight: 300;
	margin-top: 5px;
    margin-left: 5px;
    padding: 0;
    color: black;
}

.grid figcaption a {
	color: black;
}

.grid figcaption a:hover {
	text-decoration: underline;
}
 
.offer_get_btn {
	position: absolute;
	right: 50px;
	top: 75px; 
}

.offer_profile_btn {
	position: absolute;
	right: 50px;
	top: 15px; 
}

.grid figure:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.percent_label {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	margin: 0;
	width: 50px;
	height: 50px;
	border-radius: 50px;

	background-color: auto;
}

.grid .percent_label h2 {
	height: 50px;
	width: 50px;
	color: white;

	font-size: 20px;
	text-align: center;

	position: absolute;
	top: 10px;
}

.twenty { background-color: #DEC8AB;}
.thirty { background-color: #FB9E25;}
.forty { background-color: #FF9000;}
.fifty { background-color: #DE7D00;}

@media (max-width: 800px) {
	.grid, #filter_bar {width: 100%; padding: 0;}
	#tag_bar{width: 100%; height: 100%; top: 0; margin: 0;}
}
