#filter_bar {
	display: block;
	width: 100%;
	height: 80vh;
	margin: 0 auto;
	background-color: #777;
	padding:10px;
	text-align: center;
	z-index: 100;
}

#tag_bar, #subtag_bar{
	width: 60%;
	min-width: 400px;
	max-height: 80%;
	margin: 0 auto;
	position: relative;
	top: 10%;
	padding:25px;
	background-color: #858585;
	border-radius: 3px;
	overflow: scroll;

	-webkit-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
}

#tag_bar h2 {
	margin-bottom: 25px;
	color: white;
	font-weight: 500;
}

#tag_bar a:not(#search_field_button), #subtag_bar a{
	display:inline-block;
	padding:15px;
	margin: 5px;
	border-radius:3px;
	border: 1px solid  #FB9E25;
	background-color: transparent;
	color:   #FB9E25;
	font-size: 16px;

 	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

#tag_bar a:not(#search_field_button):hover, #subtag_bar a:hover{
	background-color: #FFF;
}

#search_bar{
	width: 80%;
	height: 40px;
	margin: 10px auto;
	vertical-align: middle;
  	white-space: nowrap;
  	position: relative;
}

#search_field{
	width:60%;
	margin: 0 auto;
	height:40px;
	border-radius: 3px;
	background-color: #777;
	color: #FB9E25;
	border: none;
  	font-size: 16px;
 	padding-left: 45px;

 	-webkit-transition: background .5s ease;
	-moz-transition: background .5s ease;
	-ms-transition: background .5s ease;
	-o-transition: background .5s ease;
	transition: background .5s ease;
}

#search_field:hover, #search_field:focus, #search_field:active{
    outline:none;
    background: #FFF;
  }

#search_field_button {
	height: 40px;
    margin-left: -44px;
}

#search_field_button img {
	width: 20px;
	height: 20px;
	padding: 10px;
	position: relative;
	top: 15px;
	background-color: white;
	border-radius: 3px;
}



/* Results Grid CSS */

.grid {
    padding: 10px 10px 100px 10px;
    margin: 10px auto;
    width: 80%; 
    list-style: none;
    text-align: center;
    min-width: 380px;
    border-radius: 3px;
    background-color: transparent;
    position: relative;
}
 
.grid li {
    display: inline-block;
    width: 28%;
    height: 20%;
    text-align: left;
    position: relative;
    border-radius: 3px;

    margin: 20px;
}

.grid figure {
    margin: 0;
    width: 100%;
    height: 300px;
    position: relative;
    border-radius: 3px;
    border:1px solid gray;
    overflow: hidden;
}

.grid figure img {
    max-width: 100%;
    height: 100%;
    display: block;
    position: relative;
	
	border-radius: 3px;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.grid figcaption {
    position: absolute;
    top: 160px;
    left: 0;
    padding: 20px;
    background: black;
    color:white;

    height: 50px;
    width: 100%;
    opacity: 1;
    -webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);

	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: white;
}

.grid figcaption p {
	line-height: 0;
	margin-top: 20px;
	padding-top: 5px;
}
 
.offer_get_btn {
	position: absolute;
	right: 50px;
	top: 75px; 
}

.offer_profile_btn {
	position: absolute;
	right: 50px;
	top: 15px; 
}

.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    background: #297A4A;
    color: #fff;
	text-decoration: none;
}

.grid figcaption a:hover {
	background-color: #196A3A;
}

.grid figure:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}


.percent_label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 0;
	width: 0;
	height: 0;
	border-top: 100px solid;
	border-right: 100px solid transparent;
}

.grid .percent_label h2 {
	color: white;

	font-size: 28px;

	position: absolute;
	top: -90px;
	left: 0;
	margin: 5px;

	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	writing-mode: lr-tb;
}

.20 { border-top-color: #4A9C5C;}
.30 { border-top-color: #137A2A;}
.40 { border-top-color: #005914;}
.50 { border-top-color: #002E0A;}

@media (max-width: 800px) {
	.grid, #filter_bar {width: 100%; padding: 0;}
	#tag_bar{width: 100%; height: 100%; top: 0; margin: 0;}
}
