#filter_bar {
	position: relative;
	background-color: #FFFFFF;
	top:5px;
	min-width: 420px;
	padding:10px;
	margin-left: 250px;
	margin-right: 250px;
	margin-bottom: 5px;
	text-align: center;
    border-radius: 5px;
	z-index: 100;
}

#tag_bar, #subtag_bar{
	float:left;
	width:100%;
	padding:5px;
}

#tag_bar a, #subtag_bar a{
	display:inline-block;
	padding:15px;
	margin: 5px;
	border-radius:3px;
	background-color:#216A49;
	color:white;
}

#subtag_bar a{
	padding:5px;
	background-color:#196A3A;
}

#google_map{
	float:left;
	height:283px;
	width:100%;
	border-radius: 3px;
}

#new_offer h1 {
	margin: 0;
}

#new_offer {
	text-align: center;
	background-color: #FFFFFF;

	padding: 10px;

	margin: 10px 250px; 

    min-width: 420px;
    border-radius: 5px;
}

#new_offer ul {
	padding: 0px;

}

#new_offer li {
	display: inline-block;

	margin: 10px;
	padding: 50px;

	list-style-type: none;

	border-radius: 5px;

	
	font-size: 30px;
	color: white;
	background-color: #30A671;

}

#new_offer li:hover {
	background-color: #297A4A;
	cursor: pointer;
}

/* Results Grid CSS */

.grid {
    padding: 10px 10px 100px 10px;
    margin-top: 10px; 
    margin-left:250px;
    margin-right: 250px;
    list-style: none;
    text-align: center;
    min-width: 420px;
    border-radius: 3px;
    background-color: #FFFFFF;

}
 
.grid li {
    display: inline-block;
    width: 380px;
    height: 300px;
    padding: 20px;
    text-align: left;
    position: relative;
    border-radius: 3px;
}

.grid figure {
    margin: 0;
    height: 300px;
    position: relative;
    border-radius: 3px;
    border:1px solid gray;
    overflow: hidden;
}

.grid figure img {
    max-width: 100%;
    height: 100%;
    display: block;
    position: relative;
	
	border-radius: 3px;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: white;
    color:black;

    height: 75px;
    width: 100%;
    top: auto;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);

	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: black;
}

.grid figcaption p {
	line-height: 0;
}
 
.grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 3px;
    display: inline-block;
    background: #297A4A;
    color: #fff;
	text-decoration: none;
    position: relative;
    right: -140px;
    bottom: 30px;
}

.grid figcaption a:hover {
	background-color: #196A3A;
}

.grid figure:hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.grid figure:hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.grid .percent_label {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 0;
	width: 0;
	height: 0;
	border-top: 100px solid;
	border-right: 100px solid transparent;


}
.grid .percent_label h2 {
	color: white;

	font-size: 28px;

	position: absolute;
	top: -90px;
	left: 0;
	margin: 5px;

	-webkit-transform: rotate(315deg);
	-moz-transform: rotate(315deg);
	-o-transform: rotate(315deg);
	writing-mode: lr-tb;
}

