#filter_container {
	display: block;
	width: 100%;
	margin-top: 50px;
	background-color: #F5F5F5;
	text-align: center;
	z-index: 100;
	overflow: hidden;
}

#filter_box {
	width: 60%;
	height: auto;
	min-width: 300px;
	max-height: 80%;
	margin: 0 auto;
	position: relative;
	top: 10%;
	padding:25px;
	background-color: #454F8C;
	border-radius: 3px;
	overflow: hidden;

	-webkit-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 20px -10px rgba(0,0,0,1);

    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s ease;
}

.subtag_bar {
	z-index: 100;
}

#filter_box h2 {
	margin-bottom: 10px;
	color: white;
	font-weight: 300;
	font-size: 32px;
	z-index: 100;
}

.subtag_header_ctn {
	position: relative;
	margin-bottom: 10px;
	color: white;
}

#filter_box h3 {
	width: 100%;
	font-weight: 300;
	font-size: 24px;
	display: inline-block;
}

.tag_close {
	display: block;
	color: white;
	padding: 5px 15px;
	border-radius: 30px;
	font-size: 20px;

	position: absolute;
	left: 20%;

	-o-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-webkit-transition: color .3s ease;
	transition: color .3s ease;
}

.tag_close:hover {
	cursor: pointer;
	cursor: hand;
	color: #E3E3E3;
}

#position_map_modal {
	display: none;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
}

#position_map_modal > div {
	width: 60%;
	height: 60%;
	min-height: 300px;
	min-width: 250px;
	position: relative;
	margin: 5% auto;
	padding: 20px;
	border-radius: 3px;
	background: white;
}

#position_map {
	display: block;
	position: relative;
	width: 100%;
	height: 80%;
	border-radius: 3px;
}

#position_map_modal > div h3 {
	display: inline-block;
	margin: 5px;
	font-size: 20px;
	font-weight: 300;
	color: #777;
}
#position_map_modal > div p {
	display: inline-block;
	text-align: center;
	margin: 5px;
	font-size: 14px;
	font-weight: 300;
	color: #777;
}

#map_close {
	float: right;
	display: inline-block;
	padding: 5px;
	color: #333;
	cursor: pointer;
	background-color:#FFF;
	border-radius: 3px;
	text-align: center;
}

#map_close:hover {
	background-color: #E3E3E3;
}

#map_tab {
	display: block;

	margin: 20px auto; 
	width: 120px;
	height: 120px;
	cursor: pointer;
	cursor: hand;
	border: 1px solid #000;
	color: #333;
	border-radius: 120px;

	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
} 

#map_tab > div {
	position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#map_tab:hover {
	color: #000;
	border-color: #000;
	background-color: #E3E3E3;
}

.search_button {
	display:inline-block;
	padding:15px;
	margin: 5px;
	border-radius:3px;
	border: 1px solid #FFF;
	background-color: transparent;
	color:   #FFF;
	font-size: 16px;

	cursor: hand;
	cursor: pointer;

 	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;

}

.search_button:hover, .search_button.active{
	background-color:  #FB9E25;
}

/* Results Grid CSS */

#grid {
    padding: 5px 0 100px 0;
    margin-bottom: 20px;
    width: 100%; 
    list-style: none;
    text-align: center;
    min-width: 380px;
    border-radius: 3px;
    background-color: white;
    position: relative;
}

#grid_header {
	display: block;
	width: 100%;
	height: 80px;
}

#grid_header h2 {
	display: inline-block;
	text-align: left;
	font-weight: 300;
	font-size: 32px;
	color: #777;
}

#grid_header h3 {
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 20px;
	color: #FB9E25;
}

#grid_header u {
	font-weight: 300;
	font-size: 18px;
	color: #777;
	text-decoration: none;
	font-style: none;
}
 
#grid li {
    display: inline-block;
    width: 250px;
    height: 200px;
    text-align: left;
    position: relative;
    border-radius: 3px;

    margin: 20px;
}


.percent_label {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 10;
	margin: 0;
	width: 50px;
	height: 50px;
	border-radius: 50px;

	background-color: auto;
}

#grid .percent_label h2 {
	height: 50px;
	width: 50px;
	color: white;

	font-size: 20px;
	text-align: center;

	position: absolute;
	top: 10px;
}

.twenty { background-color: #FBC325;}
.thirty { background-color: #FB9E25;}
.forty { background-color: #E58202;}
.fifty { background-color: #E54302;}

#grid figure {
    margin: 0;
    width: 250px;
    height: 200px;
    position: relative;
    border-radius: 3px;
    border:1px solid gray;
    overflow: hidden;

    background-color: #E3E3E3;
}

#grid figure:hover img {
	-webkit-transform: translateY(-15px);
	-moz-transform: translateY(-15px);
	-ms-transform: translateY(-15px);
	transform: translateY(-15px);
}

#grid figure:hover figcaption{
	-webkit-transform: translateY(-40px);
	-moz-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
}

#grid figure img {
    max-width: 100%;
    height: 100%;
    display: block;
    position: relative;
	
	border-radius: 3px;
    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

#grid figcaption {
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 250px;
    height: 90px;
    background: rgba(255,255,255,0.9);
    color:black;
    border-radius: 0;
    overflow: hidden;

    -webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

#grid figcaption h3 {
	font-size: 14px;
	font-weight: 400;
	margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0;
    color: black;
}

#grid figcaption p {
	font-size: 14px;
	font-weight: 300;
	margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0;
    color: black;
}

#grid figcaption a:not(.offer_btn) {
	color: black;
}

#grid figcaption i {float: right; margin-right: 10px; color: #777;}


#grid figcaption a:hover:not(.offer_btn) {
	text-decoration: underline;
}
 
.offer_btn {
	display: block;
	width: 90%;
	margin: 10px auto;
	padding: 5px 0px;

	border:1px solid #777;
	border-radius: 3px;

	background-color: #454F8C;
	color: #FFF;
	text-align: center;
	font-size: 18px;

	cursor: hand;
	cursor: pointer;

	-o-transition: background-color .3s ease;
	-ms-transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	transition: background-color .3s ease;
}

.offer_btn:hover {
	background-color: #061C4F;
}

@media (max-width: 800px) {
	#grid, #filter_bar {width: 100%; padding: 0;}
	#tag_bar{width: 100%; height: 100%; top: 0; margin: 0;}
	#position_map_modal > div { width: 90%; height: 90%; margin: 0; padding: 5%;}
}
