html {
	background-color: #F3F3F3;
}

header {
	background-color: white;
	
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0px;
	left: 0px;
	right:0px;
}

#logo {
	position: fixed;
	left: 0px;
	top: 0px;
}

#profile_name {
	color: black;
	font-family: "Cabin";
	font-size: 25px;

	text-decoration: none;

	position: fixed;
	right: 75px;
	top: 25px;
}

#profile_name:hover {
	text-decoration: underline;
}



#profile_image {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

nav {
	background-color: white;
	height: 100%;
	width: 250px;

	position: fixed;
	left: 0px;
	top: 75px;

	border: thin;
	border-color: black;
	border-style: solid;
	border-left: none;
	border-top:none;
	border-right: inset;
}

nav li {
	padding: 15px;
}

main {
	margin-left: 250px;
	margin-top: 75px;
}

h1 {
	color: black;
}

#sign_in {
	position: fixed;
	right: 20px;
	top:20px;

	background-color: #297A4A;

    border:none;
    border-radius: 5px;

    padding: 5px 20px;

    display: block;

    color: white;
	font-family: 'Cabin';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}




.modal_dialog {
	visibility: hidden;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal_dialog:target {
    opacity:1;
    pointer-events: auto;
}
.modal_dialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}