html {
	background-color: #FFF;
}

#profile_header {
	width: 100%;
	height: 305px;
	margin-bottom: 20px;
	position: relative;
	background-color: transparent;
}

#map_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 305px;
	z-index:-10;
}

#header_focus_image {
	position: absolute;
	left: 2%;
	bottom: -36%;

	width: 20vw;
	max-width:240px;
	max-height:240px;
	height: 20vw;
	max-width: 240px;
	max-height: 240px;

	overflow: hidden;
	display: block;

	border: solid;
	border-color: white;
	border-radius: 200px;

	background-size: cover;
	background-position: center;
}

.modal .body p {
	padding: 10px;
	color: #333;
}

@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px){
	#header_focus_image {position: relative; top: 32px; left: 0; margin: 0 auto; width: 200px; height: 200px;}
	#confirm > div {width: 60vw; margin: 20vh auto;}
}

@media handheld, only screen and (max-device-width: 800px){
	#confirm > div {width: 100%; height: 100%; margin: 0 auto;}
	#confirm {padding: 0;}
	#confirm h3 {font-size: 32px;}
}

