#profile_header {
	width: 100%;
	height: 265px;

	position: relative;

	background-color: transparent;
}

#map_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 305px;
	z-index:-10;
}

#header_focus_image {
	position: absolute;
	left: 50px;
	bottom: -110px;

	width: 220px;
	height: 220px;
	overflow: hidden;
	display: block;

	border: solid;
	border-color: white;
	border-radius: 200px;
}

#header_focus_image img {
	height:  100%;
}

#confirm {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;

	font-family: "Cabin";
	text-align: center;


	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
}

#confirm:target {
	display: block;
	pointer-events: auto;
}

#confirm > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 3px;
	background: white;
}

