#profile_info {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding-top: 40px;
	background-color: white;
	float: center;
}

#tabs_container {
	width: 50%;
	height: 350px;
	margin: 0 auto;
}

#tab_bar {
	width: 100%;
	margin: 0 auto;
}
#tab_bar li {
	width: 32%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 10px 0;
	border-bottom: 4px solid #E3E3E3;

	cursor: pointer;
	cursor: hand;

	-o-transition:.2s ease-out;
	-ms-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	-webkit-transition:.2s ease-out;
	transition:.2s ease-out;
}

#tab_bar li:hover, #tab_bar li.active{
	border-bottom: 4px solid #FB9E25;
}

.tab {
	display:none;
	margin: 0 auto;
	height: 250px;
	padding: 40px 50px;

	border-bottom: 1px solid gray;
}

#general_tab {
	display:block;
}

.tab ul li {
	margin: 10px;
}

.tab ul li div{

}

#profile_info label {
	font-family: "Raleway";
	font-size: 20px;
	line-height: 1.5;
}

.profile_input {
	float: right;
}

.icon {
	width: 20px;
	height: 20px;
	position: center middle;
}

#profile_submit {
	float: right;
}
