#profile_info {
	width: 100%;
	margin: 0 auto;
	padding-top: 40px;
	background-color: white;
	float: center;
}

#tabs_container {
	width: 50%;
	margin: 0 auto;
}

#tab_bar {
	width: 100%;
	margin: 0 auto;
}
#tab_bar li {
	width: 32%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding: 10px 0;
	border-bottom: 4px solid #E3E3E3;

	cursor: pointer;
	cursor: hand;

	-o-transition:.2s ease-out;
	-ms-transition:.2s ease-out;
	-moz-transition:.2s ease-out;
	-webkit-transition:.2s ease-out;
	transition:.2s ease-out;
}

#tab_bar li:hover, #tab_bar li.active{
	border-bottom: 4px solid #FB9E25;
}

.tab {
	display:none;
	margin: 0 auto;
	height: 220px;
	padding: 5px 50px 40px 50px;

	border-bottom: 1px solid gray;
}

#general_tab {
	display:block;
}

.tab ul li {
	margin: 10px;
}

#profile_info label {
	font-family: "Raleway";
	font-size: 20px;
	line-height: 1.5;
}

.profile_input {
	display: inline-block;
	float: right;
	height: 20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.icon {
	color: #000;
}

#profile_submit {
	float: right;
}


@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
	#tabs_container{width: 90%; height:; auto;}
	.profile_input{display: block; width: 100%; font-size: 32px; padding: 20px 20px 20px 40px;}
	#profile_info label  {font-size: 40px;}
	#profile_info { height: auto;}
	.icon {font-size: 32px;}
	.tab {height: auto;}
}

@media handheld, only screen and (max-width: 950px) {
	.profile_input{display: block; width: 100%;}
	.tab {height: 345px;}
}
