#profile_header {
	width: 100%;
	height: 265px;

	position: relative;

	background-color: transparent;
}

#map_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 305px;
	z-index:-10;
}

#header_focus_image {
	position: absolute;
	left: 2%;
	bottom: -36%;

	width: 20vw;
	max-width:240px;
	max-height:240px;
	height: 20vw;
	overflow: hidden;
	display: block;

	border: solid;
	border-color: white;
	border-radius: 200px;
}

#header_focus_image img {
	height:  auto;
	width: 240px;
}

#confirm {
	display: none;

	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;

	font-family: "Raleway";
	text-align: center;
	font-size: 14px;


	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	-webkit-backface-visibility: hidden;
}

#confirm > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 3px;
	background: white;
}

#confirm h3 {
	margin: 15px auto;
	font-size: 18px;
}

@media handheld, only screen and (max-width: 800px) {
	#header_focus_image {position: relative; top: 32px; left: 0; margin: 0 auto; width: 200px; height: 200px;}
}

