main {
	margin-top: 0;
}

#profile_header {
	width: 100%;
	height: 300px;
	position: relative;
	margin-top:64px; 
	background-color: transparent;
}

#map_header {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 305px;
	z-index:-10;
}

#header_focus_image {
	position: relative; 
	top: 30px; 
	left: 0; 
	margin: 0 auto;

	width:240px;
	height:240px;

	overflow: hidden;
	display: block;

	border: solid;
	border-color: white;
	border-radius: 200px;
}

#header_focus_image img {
	height:  100%;
	width: 240px;
}

#info {
	width: 100%;
	padding: 10px 0;
	margin: 0 auto;
	background-color: #FFF;
}

#info ul {
	width: 60%;
	margin: 10px auto;
	background-color: transparent;
}

#info ul li {
	margin: 10px;
	text-align: center;
	font-size: 20px;
	color: #333;
}

