#sign_in {
	display: none;
}

header {
	background-color: transparent;
	border:none;
	box-shadow: none;
}

#logo {
	position: fixed;
	top: 5vh;
	left: 50%;
	margin-left: -147px;
	width: 294px;
	height: 100px;
}


.content_container {
	position: fixed;
	background-color: rgba(255,255,255, 0.9);
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 320px;
	padding:10px;
	margin: 0 auto;
	text-align: center;
    border-radius: 5px;
	z-index: 100;
}

h1 {
	color: #777;
	font-weight: 300;
	text-align: center;
	font-size: 26px;	
	margin-bottom: 10px;
}

table {
	margin: 0 auto;
	text-align: center;
}

td {
	padding-top: 4px;
}

p {
	font-size: 14px;
	color: #333;
}

#page {
	background-image: url('skyline.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
}

main {
	margin-top: 0;
}


@media handheld, only screen and (max-width: 800px), only screen and (max-device-width: 800px)  {
	#logo {
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -74px;
		margin-top: 8px;
		width: 147px;
		height: 50px;

		transition: opacity .25s ease-in-out;
   		-moz-transition: opacity .25s ease-in-out;
   		-webkit-transition: opacity .25s ease-in-out;
	}

	#header_mobile {
		opacity: 1;
   		transition: opacity .25s ease-in-out;
   		-moz-transition: opacity .25s ease-in-out;
   		-webkit-transition: opacity .25s ease-in-out;
	}
}