.content_container {
	position: relative;
	background-color: rgba(255,255,255, 0.9);
	top:20%;
	width: 320px;
	padding:10px;
	margin: 0 auto;
	text-align: center;
    border-radius: 5px;
	z-index: 100;
}

h1 {
	color: #777;
	font-weight: 300;
	text-align: center;
	font-size: 24px;	
	margin-bottom: 10px;
}

table {
	margin: 0 auto;
	text-align: center;
}

td {
	padding-top: 4px;
}

p {
	font-size: 14px;
}

#page {
	background-image: url('skyline.jpg');
	width: 100%;
	height: 100%;
	background-size: cover;
}

main {
	margin-top: 0;
}

#spinner {
	display: none;
}
