.content_container {
	position: relative;
	background-color: #FFFFFF;
	top:5px;
	min-width: 380px;
	padding:10px;
	width: 50%;
	margin: 10px auto;
	text-align: center;
    border-radius: 5px;
	z-index: 100;
}

h1 {
	color: #777;
	font-weight: 300;
	text-align: left;
	font-size: 28px;	
	padding-bottom: 10px;
}

table {
	margin: 20px auto;
	text-align: center;
}

td {
	margin: 20px 10px;
}
