<ul class="header_nav">
	<li><%= link_to "Browse", { controller:"offers", action:"index"}, class: cp("/") %></li>
	<li><%= link_to "About", {controller:"pages", action:"show", page:"about"} , class: cp("/pages/show?page=about")%></li>
</ul>