<div id="sign_in_dropdown">
	<div id="sign_in">Sign in</div>
	<ul id="account_type_modal">
		<p>Sign in as a...</p>
		<ul>
			<li><%= link_to(raw("<i class='fa fa-user'></i> User"), {controller: 'user', action: 'sign_in'}) %></li>
			<li><%= link_to(raw("<i class='fa fa-briefcase'></i>Business"), {controller: 'business', action: 'sign_in'}) %></li>
		</ul>
	</ul>
</div>